/* Bootstrap */
/* BASIC COLOR */
/* Main Theme Color */
/* Element Color: */
/* Font weight */
.breadcrumbs {
  margin: 0 0 2rem 0;
}
.breadcrumbs > * {
  display: inline-block;
}
.breadcrumbs .trail-browse {
  margin: 0;
  font-size: 1.5rem;
}
.breadcrumbs .trail-items {
  margin: 0;
  font-size: 1.5rem;
  list-style: none;
  padding-left: 1.5rem;
}
.breadcrumbs .trail-items li {
  display: inline-block;
  margin-right: 1rem;
}
/* Main Pagination */
.pagination-wrapper {
  text-align: center;
  margin: 4rem 0;
}
.pagination-wrapper .pagination {
  margin: 0;
}
.pagination-wrapper .page-numbers {
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  margin-right: 1rem;
}
.pagination-wrapper .next.page-numbers,
.pagination-wrapper .prev.page-numbers {
  font-size: 2.5rem;
}
/* Custom Flexslider */
.flexslider-carousel {
  margin-bottom: 2rem;
}
.flexslider-carousel .slides > li {
  padding: 0 1rem;
}
/* Custom Owl Carousel */
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  position: absolute;
  top: 25%;
}
.owl-carousel .owl-next {
  right: 0;
}
.owl-carousel .owl-prev {
  left: 0;
}
/* For Post Format gallery */
.caviar_gallery {
  margin-bottom: 1rem;
}
.caviar_item {
  display: inline-block;
}
/* Feastured video/ audio */
.featrued.embed-wrap,
.featrued .image {
  margin-bottom: 2rem;
}
/* Post pagination */
.page-links {
  margin-top: 2rem;
}
/* Post Navigation */
.loop-nav {
  margin: 0;
}
.post-pagination {
  margin-top: 2rem;
}
.bottom-entry-nav .prev,
.bottom-entry-nav .next {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
