/*  Primary Color */
.primary-bg {
  background: #e5554e;
}
.primary-bg-hover {
  background: #ec807a;
}
.primary-color {
  color: #e5554e;
}
.primary-color-hover {
  color: #ec807a;
}
.primary-border {
  border-color: #e5554e;
}
.primary-border-hover {
  border-color: #de2a22;
}
.primary-border-bottom {
  border-bottom-color: #e5554e;
}
.primary-border-left {
  border-left-color: #e5554e;
}
/*  Secondary Color */
.secondary-bg {
  background: slateblue;
}
.secondary-color {
  color: slateblue;
}
.secondary-border {
  border-color: slateblue;
}
/*  Tertiary Color */
.tertiary-bg {
  background: gold;
}
.tertiary-color {
  color: gold;
}
/* Navbar */
.navbar {
  border: 0;
  margin-bottom: 0;
  min-height: initial;
}
.navbar-brand {
  display: none;
}
.brand-title {
  margin: 0;
}
.navbar-default {
  background: #333;
  z-index: 999;
}
.navbar-default .navbar-brand {
  color: #ccc;
  padding: 2rem 1.5rem;
  height: auto;
}
.navbar-default .navbar-toggle {
  color: #ccc;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #ccc;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #ddd;
}
.navbar-default .collapse.navbar-collapse {
  padding: 0;
}
.navbar-default .navbar-nav > .open > a {
  color: #ccc;
}
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: #ddd;
  color: #333;
}
.navbar-default .navbar-nav > li > a {
  color: #ccc;
  padding: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ccc;
  background: #ddd;
  color: #333;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.navbar-default .navbar-nav > li a {
  padding: 2rem 1.5rem;
  color: #ccc;
}
.navbar-default .navbar-nav > li.active a,
.navbar-default .navbar-nav > li.dropdown.open a {
  color: #ccc;
}
.navbar-default .navbar-nav > li.active a:hover,
.navbar-default .navbar-nav > li.dropdown.open a:hover,
.navbar-default .navbar-nav > li.active a:focus,
.navbar-default .navbar-nav > li.dropdown.open a:focus {
  background: #ddd;
  color: #333;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.dropdown.open > a {
  color: #333;
}
.navbar-default .caret {
  color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent !important;
}
.navbar-header {
  background: #1a1a1a;
}
.navbar-default .navbar-nav > .active > a {
  color: #ccc;
  background: #ddd;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background: #333;
}
.primary-nav-menu {
  background: #333;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1;
  margin: 0px auto 0 auto;
  width: 100%;
  z-index: 999;
}
.primary-nav-menu .dropdown-menu {
  padding: 0;
  border: 0;
  background: #333;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
}
.primary-nav-menu .dropdown-menu > .active > a,
.primary-nav-menu .dropdown-menu > .active > a:hover,
.primary-nav-menu .dropdown-menu > .active > a:focus {
  background: #ddd;
  color: #333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.primary-nav-menu .dropdown-menu > li > a {
  padding: 2rem 1.5rem;
}
.primary-nav-menu .dropdown-menu > li > a:hover,
.primary-nav-menu .dropdown-menu > li > a:focus {
  background: #ddd;
  color: #333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
