@import "../dependencies/variables-epic.less";
/* Breadcrumbs */
.breadcrumbs{
	margin: 0 0 2rem 0;

	> * {
		display: inline-block;
	}

	.trail-browse{
		margin: 0;
		font-size: 1.5rem;
	}

	.trail-items{
		margin: 0;
		font-size: 1.5rem;
		list-style: none;
		padding-left: 1.5rem;
		li{
			display: inline-block;

		}
	}
}

// Breadcrumb */
.breadcrumb-trail li{
 &:after{
   content: '\f0da';
   font-family: @font-awesome;
   margin: -3px 1rem 0;
   font-weight: 400;
 }

 &:last-of-type{
  &:after{
    content: '';
  }
 }
}


/* Main Pagination */
.pagination-wrapper{
	text-align: center;
	margin: 4rem 0;

	.pagination{
		margin: 0;
	} 

	.page-numbers{
		padding: 1rem 1.5rem;
		font-size: 1.8rem;
		margin-right: 1rem;
	}

	.next.page-numbers , .prev.page-numbers{
		font-size: 2.5rem;
	}
}

/* For Post Format gallery */
.caviar_gallery{
	margin-bottom: 1rem;
}

.caviar_item{
	display: inline-block;
}

/* Feastured video/ audio */
.featrued{
	&.embed-wrap, .image{
		margin-bottom: 2rem;
	}
}

.embed-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Post pagination */
.page-links{
	margin-top: 2rem;
}

/* Post Navigation */

.loop-nav{
	// background: @main-bg;
	// padding: 1.5rem;
	margin: 0;
}

.post-pagination{
	margin-top: 2rem;
}

.bottom-entry-nav{
	.prev, .next{
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		word-break: break-all;
	}
}

/* Attachment Meta */
.attachment-meta-title{
	margin: 0 0 2rem 0;
	font-size: 2rem;
	font-weight: @semi-bold-font;
	margin-bottom: 2rem;
}

ul.media-meta {
	padding-left: 0;
	list-style: none;
	display: table;
	width: 100%;
	margin-bottom: 2rem;
	
	li {
		margin-bottom: 1.5rem;
		display: table-row;
	}

	.data {
		display: table-cell;
		background: #fff;
		padding: 0.5rem 1rem 0.5rem 2rem;
		width: 70%;
	}
	
	.prep {
		margin-right: 1rem;
		color: #fff;
		display: table-cell;
		background: @primary-color;
		padding: 0.5rem 1rem;
		width: 30%;
	}
}